button {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 15px;
}
a {
  display: block;
  cursor: pointer;
  margin-right: 13px;
  margin-top: auto;
  margin-bottom: auto;
}
a:hover {
  text-decoration: underline !important;
}
img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
}
form {
  display: inline-block;
}
h6 {
  font-weight: bold;
}
table {
  width: 100%;
}
tr {
  border-top: 1px solid #eee;
}
th {
  font-weight: 400;
}
